PAYMENT_PROCESSOR=stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
SUPPORTED_CURRENCIES=USD
MERCHANT_WALLET_SOL=5fruTPA9LFbbSS8GmbhELfv5o8zucRmCVnM7xp5kRCVd
MERCHANT_WALLET_SOL_NETWORK=mainnet
MERCHANT_WALLET_ETH=0x87b5DcB8D247960627963917685B6C0b8501Ba35
MERCHANT_WALLET_ETH_NETWORK=mainnet
SIGNING_SECRET=change-me
ADMIN_EMAIL=admin@example.com
